#basic-buttons {
  font-size: 0.7em;
  text-align: center;
  & h3 {
    margin: 1em 0;
  }
  & a.emb-button:link {
    color: white;
    text-decoration: none;
  }
}

.emb-button {
  vertical-align: bottom;
  display: inline-block;
  color: white;
  font-size: 1em;
  background-color: #65C6BB;
  text-align: center;
  padding: 0.667em 1em 0.667em 1em;
  border-top: solid 1px #58aaa1;
  border-right: solid 1px #58aaa1;
  border-bottom: solid 2px #58aaa1;
  border-left: solid 1px #58aaa1;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 2px;
  margin-right: 0.382em;
  &:focus {
    outline: none;
  }
  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 1;
    background-color: #5cb2a8;
    border-top: solid 2px #4f9990;
    border-right: solid 1px #4f9990;
    border-bottom: solid 1px #58aaa1;
    border-left: solid 1px #4f9990;
  }
}

.emb-button-sm {
  font-size: 0.667em;
  padding: 1em;
  @media screen and (max-width: 500px) {
    font-size: 0.667em;
    display: block;
    margin: 2em auto;
    width: 12em;
  }
}

.emb-button-md {
  padding: 1em 1.5em 1em 1.5em;
  @media screen and (max-width: 500px) {
    display: block;
    margin: 0.25em auto;
    width: 12em;
  }
}

.emb-button-lg {
  font-size: 1.5em;
  padding: 1em 2.25em 1em 2.25em;
  @media screen and (max-width: 500px) {
    font-size: 1.5em;
    display: block;
    margin: 1em auto;
    width: 12em;
  }
}
