#color-build-form-wrap {
  color: #d11919;
  border: solid 1px #CCCBC9;
  background-color: #f2f2f2;
  background: repeat url(../img/color-builder/worn_dots.png);
  width: 32.813em;
  margin: 5% auto;
  border-radius: 5px;
  font-size: 0.7em;
  & h1 {
    font-family: $bangers;
    font-size: 4em;
    margin-bottom: 0;
    color: #ffe100;
    text-shadow: -3px -2px black, -2px -2px black, 5px 6px black, 4px 6px black, 4px -3px black, 7px 5px black, -3px 2px black;
  }
  & h2 {
    font-family: $bangers;
    font-size: 3.5em;
    color: #ffe100;
    text-shadow: -3px -2px black, -2px -2px black, 5px 6px black, 4px 6px black, 4px -3px black, 7px 5px black, -3px 2px black;
    transform: rotate(-5deg);
  }
  & input {
    display: block;
    height: 1.75em;
    font-weight: 300;
    width: 100%;
    color: #353535;
    border: solid 1px #d8d8d6;
    border-radius: 5px;
    box-sizing: border-box;
  }
  & form {
    font-family: $bangers;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    position: relative;
  }
  & textarea {
    margin-top: 0.5em;
    width: 100%;
    min-height: auto;
    overflow: auto;
    resize: none;
    border-radius: 5px;
    border: solid 1px #CCCBC9;
    background-color: #f2f2f2;
  }
  & .input-wrap {
    padding: 1em;
    margin: 1em;
    clear: both;
  }
  & .slider-wrap {
    width: 45%;
    float: left;
    & > div {
      clear: both;
      margin-bottom: 0.5em;
      & label {
        font-family: $bangers;
      }
    }
  }
  & .color-window-wrap {
    width: 45%;
    float: right;
    padding: 1%;
    background: repeat url(worn_dots.png);
  }
  & .range-numbers {
    font-size: 0.75em;
    color: lightgray;
    width: 100%;
    margin-top: -0.65em;
    height: 1.25em;
  }
  & .width-50 {
    width: 50%;
  }
  & .fl-lft {
    float: left;
  }
  & .fl-rt {
    float: right;
  }
  & .text-right {
    text-align: right;
  }
  & .button {
    font-family: 'Bangers', 'Helvetica', 'Arial', sans-serif;
    vertical-align: bottom;
    display: inline-block;
    color: white;
    font-size: 1.75em;
    background-color: #bf3333;
    text-align: center;
    padding: 0.3em 1.5em 0.3em 1.5em;
    border-top: solid 1px #992929;
    border-right: solid 1px #992929;
    border-bottom: solid 2px #992929;
    border-left: solid 1px #992929;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 0.5em;
    width: 100%;
    &:focus {
      outline: none;
    }
    &:hover {
      opacity: 0.8;
    }
    &:active {
      opacity: 1;
      background-color: #992929;
      border-top: solid 2px #751f1f;
      border-right: solid 1px #751f1f;
      border-bottom: solid 1px #bf3333;
      border-left: solid 1px #751f1f;
    }
  }
  @media screen and (max-width: 525px) {
    font-size: 0.6em;
    width: 90%;
  }
  @media screen and (max-width: 400px) {
    width: 100%;
  }
}

label[for="green"] {
  color: #36c969;
}

label[for="blue"] {
  color: #207bea;
}

label[for="alpha"] {
  color: #595656;
}

#pow {
  width: 0;
  height: 0;
  border-left: 4.375em solid transparent;
  border-right: 3.750em solid transparent;
  border-bottom: 6.250em solid #bf3333;
  position: relative;
  margin: 1em;
  z-index: 1;
  &:before {
    width: 0;
    height: 0;
    border-left: 1.563em solid transparent;
    border-right: 6.563em solid transparent;
    border-top: 3.125em solid #bf3333;
    position: absolute;
    content: "";
    top: 1.875em;
    left: -3.125em;
    transform: rotate(340deg);
  }
  &:after {
    width: 0;
    height: 0;
    border-left: 3.125em solid transparent;
    border-right: 5.625em solid transparent;
    border-top: 6.250em solid #bf3333;
    position: absolute;
    content: "";
    top: 1.875em;
    left: -3.125em;
    transform: rotate(12deg);
  }
  & div {
    position: absolute;
    top: 1.5em;
    left: -4em;
    z-index: 1000;
    transform: rotate(-5deg);
  }
}

#color-builder {
  position: absolute;
  top: 3em;
  left: 8.5em;
  z-index: 2;
}

#color-window {
  background-color: rgba(45, 45, 105, 1);
}
