#cc-form {
  color: #4d604d;
  background-color: #e2f2e1;
  background-image: url(../img/cc-form/green_wave.png);
}

#logo {
  background-image: url(../img/cc-form/branch_and_leaf.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 31.25em;
  height: 8em;
  border-bottom: dotted 1px #e2f2e1;
}

#cc-form-wrap {
  border: solid 2px #e2f2e1;
  width: 34.375em;
  margin: 2em auto;
  border-radius: 0.625em;
  position: relative;
  background-color: white;
  font-size: 0.57em;
}

#input-wrap {
  padding: 0.625em;
  margin: 1em;
  &:after {
    content: '';
    position: absolute;
    top: -0.625em;
    left: -2%;
    width: 103.2%;
    height: 104%;
    border-radius: 10px;
    border: dotted 2px white;
    z-index: -1;
  }
}

.input-group {
  margin-top: 1em;
  text-align: right;
  vertical-align: middle;
  & label {
    margin: 0em 0.4em 0em 0em;
  }
  %focus-styles {
    border: dotted 1px #3c2415;
  }
  & input {
    width: 69%;
    text-align: left;
    height: 2.25em;
    padding-left: 0.4em;
    border: dotted 1px #e2f2e1;
    border-radius: 5px;
    outline: none;
    background-color: white;
    &:focus {
      @extend %focus-styles;
    }
  }
  & select {
    width: 35.1%;
    height: 2.25em;
    border-radius: 5px;
    padding-left: 0.4em;
    border: dotted 1px #e2f2e1;
    background-color: white;
    outline: none;
    color: #4d604d;
    &:focus {
      @extend %focus-styles;
    }
  }
}

#submit-button {
  text-align: right;
}

.icons {
  margin-left: 1em;
  & i {
    padding-left: 0.25em;
  }
}

.txt-right {
  text-align: right;
}

#cvc-q {
  position: absolute;
  bottom: 22.3em;
  left: -9em;
  font-size: 0.5em;
  background-color: #e2f2e1;
  color: #4d604d;
  border-radius: 3px;
  padding: 1em;
  opacity: 0;
  width: 27em;
  text-align: left;
  transition-duration: 0.5s;
  &:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 10px solid #e2f2e1;
    opacity: 1;
    position: relative;
    bottom: -28px;
    left: -38px;
  }
}

#cvc-label:hover {
  cursor: help;
  & > span#cvc-q {
    opacity: 1;
  }
}

%invalid-form-styles {
  background-color: rgba(255, 181, 181, 1);
  margin-bottom: 0;
  border-radius: 5px 5px 0 0;
  border-color: rgba(188, 19, 57, 1);
}

.invalid {
  & input {
    @extend %invalid-form-styles;
  }
  & select {
    @extend %invalid-form-styles;
  }
}

.error {
  border-radius: 0 0 5px 5px;
  background-color: rgba(188, 19, 57, 1);
  color: white;
  text-align: center;
}

.active {
  padding: 0.3em;
  display: block;
  margin-bottom: 3px;
  width: 68.9%;
  margin-left: 31.1%;
}

.cc-button {
  display: inline-block;
  color: #4d604d;
  font-size: 1.25em;
  background-color: white;
  text-align: center;
  padding: 0.4em 1.5em 0.4em 1.5em;
  border: dotted 1px #e2f2e1;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 0.8em;
  &:focus {
    outline: none;
  }
  &:hover {
    color: #3c2415;
    background-color: #e2f2e1;
  }
  &:active {
    background-color: #3c2415;
    color: white;
    border: solid 1px #3c2415;
  }
}
