.image_gallery {
  position: relative;
  max-width: 24em;
  margin: 5% auto;
  border: solid 0.5em rgb(30, 30, 30);
  background-color: rgb(30, 30, 30);
  overflow-x: hidden;
}

.thumbs {
  position: absolute;
  top: 1em;
  left: 1em;
  z-index: 10;
}

.thumbs label {
  display: inline-block;
  width: 3.5em;
  height: 3.5em;
  border: solid 0.2em rgb(30, 30, 30);
  overflow: hidden;
}

.thumbs label img {
  width: 100%;
  cursor: pointer;
  transition: transform 0.5s;
  opacity: 1;
}

.thumbs label:hover img {
  transform: scale(1.25);
}

.full_sized_images img {
  width: 100%;
  display: none;
  -webkit-animation: 1s scale-up-center;
  animation: 1s scale-up-center;
  /* ------ alternate transition ----------- */
  /*animation: 1s slide-in-left;*/
}

input[name="thumbs"]:checked + img {
  display: block;
  opacity: 1;
}

@-webkit-keyframes slide-in-left {
  0% {
    display: block;
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
}

@keyframes slide-in-left {
  0% {
    display: block;
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
}

@-webkit-keyframes scale-up-center {
  0% {
    display: block;
    opacity: 0;
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}

@keyframes scale-up-center {
  0% {
    display: block;
    opacity: 0;
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}

@media screen and (max-width: 360px) {
  .image_gallery {
    border: solid 0.2em rgb(30, 30, 30);
    background-color: rgb(30, 30, 30);
  }
  .thumbs {
    top: 0.5em;
    left: 0.5em;
  }
  .thumbs label {
    width: 2em;
    height: 2em;
    border: solid 0.1em rgb(30, 30, 30);
  }
}
