//=====================================//
//        SECTION CONTENT STYLES      //
//====================================//

.greeting {
  font-size: 4em;
  color: $highlight;
  @at-root #top:target ~ #landing > & {
    animation: 0.75s hiInUp cubic-bezier(0.185, 0.470, 0.030, 0.940);
  }
  & > a {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }
}

@keyframes hiInUp {
  0% {
    opacity: 0;
    transform: translateY(2em);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}

.greeting-v:after {
  content: "V";
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1rem;
  text-align: center;
  padding-top: 0.75em;
  border-radius: 50%;
  background-color: $white;
  color: $section-color-2;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.section__content {
  // LIMIT OVERALL WIDTH OF SECTION CONTENTS
  max-width: 60em;
  margin-bottom: 10%;
  position: relative;
  padding: 0 0.5em;
  @each $anchor in (#about, #projects, #skills, #articles, #contact) {
    @at-root #{$anchor}:target > & {
      animation: 0.75s fadeInUp cubic-bezier(0.185, 0.470, 0.030, 0.940);
    }
  }
  & h1 {
    font-size: 4em;
    margin: 17% 2% 5% 2%;
    text-shadow: -3px 3px $section-color-1;
    @media screen and (max-width: 400px) {
      margin-top: 25%;
      text-align: center;
    }
  }
  & p {
    padding: 0 2em 0 5em;
    line-height: 2;
    text-align: justify;
    &:last-of-type {
      margin-bottom: 0em;
    }
    @media screen and (max-width: 400px) {
      padding: 0 1.5em 0 1.5em;
    }
  }
  @media screen and (max-width: 400px) {
    width: 100%;
  }
}

%headshot {
  border-radius: 50%;
  border: solid 0.7em $section-color-1;
  -webkit-shape-outside: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  margin: 0 2em 0 1em;
  background-color: $white;
  background-blend-mode: multiply;
}

.headshot {
  @extend %headshot;
  cursor: pointer;
  width: 12em;
  height: 12em;
  float: left;
  background: no-repeat center/contain url(../img/sbc_bw.png);
}

%bubble {
  @extend %headshot;
  position: absolute;
  opacity: 0;
  z-index: 3;
}

.bubble1 {
  @extend %bubble;
  background: no-repeat center/contain url(../img/sbc_tuolumne.jpg);
  bottom: -10em;
  left: 8em;
  width: 10em;
  height: 10em;
  transition: opacity 0.5s 0.125s;
  @at-root .headshot:hover + & {
    opacity: 1;
  }
}

.bubble2 {
  @extend %bubble;
  background: no-repeat center/contain url(../img/sbc_joes.jpg);
  bottom: -7em;
  left: -4em;
  width: 8em;
  height: 8em;
  transition: opacity 0.5s 0.25s;
  @at-root .headshot:hover ~ & {
    opacity: 1;
  }
}

.intro-text {
  font-family: $montserrat;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1;
  color: $highlight;
}

.article-list {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 5em;
  & li {
    font-size: 1.25em;
  }
  @media screen and (max-width: 400px) {
    padding: 0 1.5em 0 1.5em;
  }
}

// SECTION CONTENT ANIMATION KEYFRAMES
@keyframes fadeInUp {
  0% {
    transform: translateY(8em);
  }
  100% {
    transform: translateY(0);
  }
}
