.sp1-section {
  @include flexContainer(row wrap, flex-start, center);
  padding-left: 4em;
  padding-right: 4em;
  &:not(:first-of-type) {
    padding-top: 4em;
    align-items: center;
  }
  min-height: 100vh;
}