button {
	border: none;
	outline: none;
	background-color: none;
	cursor: pointer;
}

.sp1-button--rounded {
	background-color: transparent;
	color: $font-light;
	padding: 1.25rem 3.5rem;
	border: solid 1px transparentize($font-light, 0.75);
	border-radius: 2rem;
	font-family: $oswald;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	font-size: 0.75em;
	transition: all 0.75s ease;
	margin-top: 2em;
	margin-bottom: 2em;
	&:hover {
		background-color: transparentize($font-light, 0.9)
	}
	  @media screen and (max-width: 526px) {
    width: 100%;
  }
}