.sp1-contact-info {
  flex: 1 1 35%;
  padding-left: 2em;
  @include media-max(675px) {
    flex: 1 1 100%;
    padding: 0;
  }
  & h3 {
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 1em;
  }
  & p {
    margin: 0;
    margin-bottom: 1em;
  }
}

.social-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: transparentize($font-light, 0.5);
  & li {
    display: inline;
    margin-right: 0.75em;
  }
  @include media-max(676px) {
    margin-bottom: 2em;
  }
}