// section colors
$section-color-1: #373B44;
$section-color-2: #40444F;
$section-color-3: #4A4E5A;
$section-color-4: #515765;
$section-color-5: #5B616F;
$section-color-6: #636B7B;

// font color:
$main-font-color: #ebebeb;

// circle background??
$gray-2: #6C7385;

// hamburger menu icon
$menu-icon-color: #8a91a1;

// general background
$menu-bckgrnd: #141519;

// highlight colors
$highlight: #EF4D75;
$white: #FFFFFF;
$black: #000000;
