// Google fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,400i|Lato:100,300,400,700|Bangers|Source+Code+Pro:400,700');

// font family variables
$montserrat: 'Montserrat', sans-serif;
$open-sans: 'Open Sans', sans-serif;
$lato: 'Lato', sans-serif;
$bangers: 'Bangers', cursive;
$source-code-pro: 'Source Code Pro', monospace;

