// colors
$primary-nav-blue: #20313D;
$primary-green: #2E9692;
$primary-blue: #3AA4CA;
$primary-red: #B84D50;

$font-light: #ffffff;
$font-gray: #6E7981;

$transparent-border: solid 1px transparentize($font-light, 0.75);
